/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.testImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    z-index: -1;
}

.slide-wrapper {
    display: none;
}

.scene-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: inline-block;
}

.scene-nav--next {
    right: 2%;
}

.scene-nav--prev {
    left: 2%;
}

canvas {
    position: absolute;
}