/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #333333;
    padding-top: 100vh;
}

nav {
    z-index: 9999;
}

.absolute-top-left,
.absolute-top-right {
    z-index: 9999;
    width: 50%;
    max-width: 585px;
    position: absolute;
    top: 0;
}

.absolute-top-left {
    left: calc(100vh - 90%);
    right: auto;
}

.absolute-top-right {
    right: calc(100vh - 90%);
    left: auto;
}

.drop-menu {
    z-index: 9999;
    width: 50%;
    max-width: 585px;
    margin: 0 auto;
}

.testImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    z-index: -1;
}

.slide-wrapper {
    display: none;
}

.scene-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: inline-block;
}

.scene-nav--next {
    right: 2%;
}

.scene-nav--prev {
    left: 2%;
}

canvas {
    position: absolute;
}