/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.bkg-transparent {
    background-color: transparent!important;
}

.bkg-color-solid {
    background-color: #333333!important;
}

.bkg-color-transparent {
    background-color: rgba(51, 51, 51, 0.7)!important;
}

html,
body {
    padding: 0;
    box-sizing: border-box;
}

element.style {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    overflow: hidden;
    background-color: #333333;
}

nav {
    z-index: 9999;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    left: 0;
    right: 0;
}

.navbar.menu-nav {
    padding-top: 55px;
}

.drop-menu {
    z-index: 9999;
    margin: 0 auto;
}

#mainMenu {
    z-index: 9999;
    margin-top: 50px;
    width: 320px;
    margin-left: calc(100% - 320px);
}

.testImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    z-index: -1;
}

.slide-wrapper {
    display: none;
}

.scene-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: inline-block;
}

button.scene-nav {
    background: transparent;
    border: none;
}

.scene-nav--next {
    right: 2%;
}

.scene-nav--prev {
    left: 2%;
}

.scene-nav--content {
    bottom: 50px;
    top: auto;
    left: 50%;
    transform: translateX(-50%) rotateZ(90deg);
}

canvas {
    position: absolute;
    z-index: -1;
}


/* SVG ICONS */

.full-area,
.hit-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-area {
    overflow: hidden;
}

.hit-area {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=);
}

#work-detail-content-container {
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
}

#work-detail-arrows-container {
    position: absolute;
    display: table;
    top: 0;
    width: 100%;
    height: 100%;
}

#work-detail-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 2.75rem;
}

#work-detail-arrows {
    display: table-cell;
    vertical-align: middle;
}

#work-detail-arrow-left {
    position: absolute;
    left: 0;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    pointer-events: auto;
}

#work-detail-arrow-right {
    position: absolute;
    right: 0;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    pointer-events: auto;
}

#work-detail-arrow-left svg,
#work-detail-arrow-right svg {
    position: absolute;
    top: -50px;
    left: -50px;
    visibility: hidden;
    pointer-events: none;
}

#work-detail-close {
    position: fixed;
    top: 25px;
    right: 40px;
    width: 40px;
    height: 40px;
    pointer-events: auto;
}

#work-detail-close svg {
    position: absolute;
    top: -20px;
    left: -20px;
    visibility: hidden;
    pointer-events: none;
}

VIEW RESOU